footer
{
  background: $purple;
  color: white;
  clear: both;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  
  a
  {
    color: white;
    text-decoration: none;
    
    &:hover
    {
      text-decoration: underline;
    }
  }
}
.region-footer
{
  display: inline;
  
  & > div
  {
    display: inline;
  }
}
.block--footer-address
{
  margin-bottom: 1em;
  
  @media screen and (max-width: 720px)
  {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.menu--footer
{
  font-size: 0.875em;
  display: inline;

  .menu
  {
    margin: 0;
    list-style: none;
    display: inline;
  }
  li
  {
    margin: 0;
    display: inline;
    margin-right: 25px;
    
    @media screen and (max-width: 540px)
    {
      display: block;
      margin-right: 0;
      line-height: 2;
    }
  }
}
.site-by-cci
{
  font-size: 0.875em;
  display: inline;
}