main
{
  padding: 40px 25px;
  
  & > div
  {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.not-front main > div
{
  max-width: 740px;
}

.page-title
{
  color: $purple;
  text-align: center;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.75em;
  line-height: 1;
}
