.region-navigation
{
  clear: both;
  background: white;
  padding: 20px 0 0 0;
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
  
  & > div
  {
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
  }
  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
}

.site-logo
{
  display: block;
  float: left;
  
  img
  {
    display: block;
    width: 197px;
    height: auto;
  }
  
  &
  {
    @media screen and (max-width: 740px)
    {
      margin-bottom: 20px;
      
      img
      {
        width: 126px;
      }
    }
  }
}

.block--concerned-about-a-child
{
  float: right;
  color: $purple;
  text-align: right;
  font-weight: 600;
  
  a
  {
    color: $purple;
    text-decoration: none;
  }
  .phone
  {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  &
  {
    @media screen and (max-width: 740px)
    {
      float: none;
      text-align: center;
      clear: both;
      width: 100%;
      margin-left: -25px;
      padding: 10px 25px;
      background: $purple;
      color: white;
      
      a
      {
        color: white;
      }
      .phone
      {
        line-height: 1;
        font-size: 1.75em;
      }
    }
  }
}

.menu--main
{
  float: right;
  clear: right;
  
  ul
  {
    margin: 0;
    
    ul
    {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      background: white;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      padding: 10px 0;
      
      li
      {
        display: block;
      }
      a
      {
        line-height: normal;
        padding: 10px 25px;
        height: auto;
      }
    }
  }
  li
  {
    margin: 0;
    display: inline-block;
    position: relative;
  }
  a
  {
    color: $purple;
    text-decoration: none;
    display: block;
    height: 52px;
    line-height: 52px;
    padding: 0 20px;
    font-size: 1.0625em;
    font-weight: 600;
    
    &:hover
    {
      text-decoration: underline;
    }
  }
  .menu-item--expanded > a
  {
    text-decoration: none;
    
    &:after
    {
      content: "";
      display: inline-block;
      padding-right: 18px;
      width: 0;
      height: 1em;
      background: url(../images/arrow-down.svg) no-repeat right center;
      vertical-align: middle;
    }
  }
  .menu-item--expanded:after
  {
    content: "";
    position: absolute;
    left: -999999px;
    background-image: url(../images/arrow-up.svg);
  }
  .open
  {
    & > a:after
    {
      background-image: url(../images/arrow-up.svg);
    }
    & > ul
    {
      display: block;
    }
  }
  
  &
  {
    @media screen and (max-width: 740px)
    {
      display: none;
      float: none;
      position: absolute;
      top: 100%;
      right: 0;
      width: 180px;
      background: white;
      z-index: 1000;
      padding: 10px 0;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      
      li
      {
        display: block;
      }
      ul ul
      {
        position: static;
        padding: 0 0 0 15px;
        box-shadow: none;
        font-size: 0.875em;
      }
    }
  }
}

.block--mobile-menu-button
{
  display: none;
  float: right;
  
  &
  {
    @media screen and (max-width: 740px)
    {
      display: block;
    }
  }
  
  .text-close
  {
    display: none;
  }
  .mobile-menu-button
  {
    color: $purple;
    text-decoration: none;
    font-weight: 600;
    display: block;
    line-height: 72px;
    height: 72px;
    font-size: 1.1em;
    padding-left: 32px;
    background: url(../images/icon-menu-button.svg) no-repeat left center;
  }
}
.menu-open
{
  .block--mobile-menu-button
  {
    .text-close
    {
      display: block;
    }
    .text-open
    {
      display: none;
    }
  }
}