.region-top
{
  background: $blue;
  color: white;
  
  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
  
  & > div
  {
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
  }
  a
  {
    color: white;
    text-decoration: none;
    
    &:hover
    {
      text-decoration: underline;
    }
  }
}
.block-search,
.block--search-button
{
  float: left;
  padding: 4px 0;
}
.block-search
{
  display: none;
  
  .form-item-keys
  {
    input
    {
      height: 32px;
      line-height: 32px;
      display: inline-block;
      width: 200px;
    }
  }
  .form-submit
  {
    height: 32px;
    line-height: 32px;
    min-width: 0;
  }
}
.search-button
{
  height: 32px;
  line-height: 32px;
  display: block;
  padding-left: 24px;
  background: url(../images/icon-search.svg) no-repeat left center;
}

.block--language-switcher
{
  float: right;
  
  ul
  {
    list-style: none;
    margin: 0;
  }
  li
  {
    display: inline-block;
    margin: 0;
    
    &:first-child:after
    {
      content: "|";
      padding: 0 8px;
    }
  }
  a
  {
    display: inline-block;
    height: 40px;
    line-height: 40px;
  }
}
