.block--contact-map
{
  position: relative;
}
.contact-map
{
  height: 400px;
  
  @media screen and (max-width:640px)
  {
    margin-top: 30px;
    height: 250px;
  }
}
.contact-address
{
  position: absolute;
  top: 35px;
  left: 50px;
  width: 250px;
  height: auto;
  padding: 30px;
  border: 3px solid $purple;
  border-radius: 24px;
  color: $purple;
  background: white;
  z-index: 10000;
  
  &
  {
    @media screen and (max-width:640px)
    {
      position: static;
      margin: 0 auto;
      width: auto;
      max-width: 250px;
    }
  }
  
  img
  {
    width: 100%;
    max-width: 250px;
    margin-bottom: 1em;
  }
  strong
  {
    display: inline-block;
    vertical-align: top;
    width: 80px;
  }
  span
  {
    display: inline-block;
    vertical-align: top;
  }
}
